<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  
  <configuration>

	<typeAliases>
		<typeAlias type="com.finalPJ.carming.model.dto.AdmRentDto" alias="admRentDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.AdmMemberDto" alias="admMemberDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.MemberDto" alias="memberDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.RecipeDto" alias="recipeDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.TipDto" alias="tipDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.InquiryDto" alias="inquiryDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.ReportDto" alias="reportDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.AdmMemberDto" alias="admMemDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.ProductDto" alias="productDto"/>
		<typeAlias type="com.finalPJ.carming.model.dto.Pagination" alias="pagination"/>
		<typeAlias type="com.finalPJ.carming.model.dto.boardDto" alias="boardDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.bcommentDto" alias="bcommentDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.dmDto" alias="dmDto"/>	
		<typeAlias type="com.finalPJ.carming.model.dto.mapLocationDto" alias="mapLocationDto"/>	
		<typeAlias type="com.finalPJ.carming.survey.dto.SurveyDto" alias="SurveyDto" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/member-mapper.xml" />
		<mapper resource="/mybatis/recipe-mapper.xml" />
		<mapper resource="/mybatis/tip-mapper.xml" />
		<mapper resource="/mybatis/inquiry-mapper.xml" />
		<mapper resource="/mybatis/report-mapper.xml" />
		<mapper resource="/mybatis/admin-mapper.xml" />
		<mapper resource="/mybatis/product-mapper.xml"/>
		<mapper resource="/mybatis/board-mapper.xml" />
		<mapper resource="/mybatis/bcomment-mapper.xml" />
<!-- 		<mapper resource="/mybatis/dm-mapper.xml" />
		<mapper resource="/mybatis/mapLocation-mapper.xml" />  -->
		<mapper resource="/mybatis/survey-mapper.xml" />
	</mappers>

</configuration>