<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="board">
	<resultMap type="boardDto" id="boardMap">
		<result property="brdno" column="BRDNO"/>
		<result property="brdwriter" column="BRDWRITER"/>
		<result property="brdfile" column="BRDFILE"/>
		<result property="brdcontent" column="BRDCONTENT"/>
		<result property="brdcount" column="BRDCOUNT"/>
		<result property="brdcomcount" column="BRDCOMCOUNT"/>
		<result property="brddate" column="BRDDATE"/>
		<result property="brdprivate" column="BRDPRIVATE"/>
	</resultMap>
	
	<!-- 01. 게시글 전체 목록 -->
	<select id="selectList" resultMap="boardMap">
		SELECT BRDNO, BRDWRITER, BRDFILE, BRDCONTENT, BRDCOUNT, BRDCOMCOUNT, BRDDATE, BRDPRIVATE
		FROM BOARD
		ORDER BY BRDDATE DESC
	
		<!--  SELECT * FROM (
			SELECT ROWNUM AS RNUM, BRD.*
			FROM(
				SELECT BRDNO, BCATEGORYNO, BRDWRITER, BRDFILE, BRDCONTENT, BRDCOUNT, BRDDATE, BRDPRIVATE
				FROM BOARD
				ORDER BY BRDDATE DESC
			) BRD
		)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		-->
	</select>
	
	<!-- 02. 게시글 상세보기 -->
	<select id="selectOne" parameterType="int" resultType="boardDto">
		SELECT BRDNO, BCATEGORYNO, BRDWRITER, BRDFILE, BRDCONTENT, BRDCOUNT, BRDCOMCOUNT, BRDDATE, BRDPRIVATE
		FROM BOARD
		WHERE BRDNO = #{brdno}
	</select>
	
	<!-- 03. 게시글 작성 -->
	<insert id="insert" parameterType="boardDto">
  		INSERT INTO BOARD
  		VALUES(BRDNOSEQ.NEXTVAL, #{bcategoryno}, #{brdcontent}) 
  	</insert>	
	
	<!-- 06. 게시글 조회수 -->
	<update id="viewCount" parameterType="int">
		UPDATE BOARD 
		SET BRDCOUNT = BRDCOUNT + 1
		WHERE BRDNO = #{brdno}
	</update>
	
	<delete id="delete" parameterType="int">

  	</delete>
  


</mapper>