<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="board">
	<resultMap type="boardDto" id="boardMap">
		<result property="brdno" column="BRDNO"/>
		<result property="bcategoryno" column="BCATEGORYNO"/>
		<result property="brdwriter" column="BRDWRITER"/>
		<result property="brdfile" column="BRDFILE"/>
		<result property="brdcontent" column="BRDCONTENT"/>
		<result property="brdcount" column="BRDCOUNT"/>
		<result property="brddate" column="BRDDATE"/>
		<result property="brdprivate" column="BRDPRIVATE"/>
	</resultMap>
	
	<select id="selectList" resultMap="boardMap">
		SELECT BRDNO, BCATEGORYNO, BRDWRITER, BRDFILE, BRDCONTENT, BRDCOUNT, BRDDATE, BRDPRIVATE
		FROM BOARD
	</select>
	
	<select id="selectOne" parameterType="int" resultType="boardDto">
	
	</select>
	
	<insert id="insert" parameterType="boardDto">
  		INSERT INTO BOARD
  		VALUES(BRDNOSEQ.NEXTVAL, #{bcategoryno}, #{brdcontent}) 
  	</insert>	
	
	<update id="update" parameterType="boardDto">
	
	</update>
	
	<delete id="delete" parameterType="int">

  	</delete>
  


</mapper>