<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="board">
	<resultMap type="boardDto" id="boardMap">
		<result property="brdno" column="BRDNO"/>
		<result property="bcategoryno" column="BCATEGORYNO"/>
		<result property="brdwriter" column="BRDWRITER"/>
		<result property="brdfile" column="BRDFILE"/>
		<result property="brdthumbfile" column="BRDTHUMBFILE"/>
		<result property="brdcontent" column="BRDCONTENT"/>
		<result property="brdcount" column="BRDCOUNT"/>
		<result property="brddate" column="BRDDATE"/>
		<result property="brdprivate" column="BRDPRIVATE"/>
		<result property="memno" column="MEMNO"/>
		<result property="memnick" column="MEMNICK"/>
	</resultMap>
	
	<!-- 01. 게시글 전체 목록 -->
	<select id="selectList" resultType="boardDto">
		SELECT *
		FROM BOARD
		ORDER BY BRDDATE DESC
	
		<!--  SELECT * FROM (
			SELECT ROWNUM AS RNUM, BRD.*
			FROM(
				SELECT *
				FROM BOARD
				ORDER BY BRDDATE DESC
			) BRD
		)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		-->
	</select>
	
	<!-- 02. 게시글 상세보기 -->
	<select id="selectOne" parameterType="int" resultType="boardDto">
		SELECT *
		FROM BOARD
		WHERE BRDNO = #{brdno}
	</select>
	
	<!-- 03. 게시글 작성 -->
	<insert id="insertBoard" parameterType="boardDto">
	
  	</insert>	
	
	<!-- 04. 게시글 수정 -->
	<update id="" parameterType="int">

	</update>
	
	<!-- 05. 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD
		WHERE BRDNO = #{brdno}
  	</delete>
	
	<!-- 06. 게시글 조회수 -->
	<update id="viewCount" parameterType="int">
		UPDATE BOARD 
		SET BRDCOUNT = BRDCOUNT + 1
		WHERE BRDNO = #{brdno}
	</update>
	
	<!-- 07. 사용자 프로필 페이지 목록 -->
  	<select id="userBoardList" resultMap="boardMap" parameterType="int">
  		SELECT B.*, M.MEMNICK
  		FROM BOARD B
  		JOIN MEMBER M
  		ON B.BRDWRITER = M.MEMNICK
  		WHERE M.MEMNO = #{memno} AND B.BRDPRIVATE='N'
  		ORDER BY BRDDATE DESC
  	</select>
	
	
	
	
	
	
	
	
	
	
	

</mapper>