<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cart"> 
	<insert id="insertcart" parameterType="cartDto">
		INSERT INTO CART(CARTNO, CAMOUNT, STARTDATE, ENDDATE, MEMNO, PNO, STATENO)
		VALUES (CART_SEQ.NEXTVAL, #{cAmount}, #{startDate}, #{endDate}, 2, #{pNo}, 1)
	</insert>
	
	<select id="cartlist" resultType="cartListDto">
		SELECT
			ROW_NUMBER() OVER(ORDER BY C.CARTNO DESC),
			C.CARTNO, C.CAMOUNT, C.STARTDATE, C.ENDDATE, C.MEMNO, C.PNO, C.STATENO,
			P.PAMOUNT, P.PPRICE, P.PNAME, P.PFILE
		FROM CART C	INNER JOIN PRODUCT P ON	C.PNO = P.PNO
	</select>
	
	<delete id="deletecart" parameterType="cartDto">
		DELETE
		FROM CART
		WHERE CARTNO = #{cartNo}
	</delete>
	
	<select id="rentperiod" resultType="cartListDto" parameterType="java.util.List">
		SELECT
            TO_DATE(ENDDATE, 'YYYY-MM-DD') - TO_DATE(STARTDATE, 'YYYY-MM-DD')
		FROM CART
		WHERE CARTNO IN 
			<foreach collection="list" open="(" close=")" separator="," index="index" item="cartListDto">
			#{cartListDto.cartNo}
			</foreach>
	</select>
	
	<!-- 결제 번호에 담긴 상품갯수  -->
	<select id="countproduct" resultType="Integer">
		SELECT COUNT(PNAME)-1
		FROM 
			CART C INNER JOIN 
			PAY P ON (C.CARTNO = P.CARTNO) LEFT OUTER JOIN
			PRODUCT PR ON (C.PNO = PR.PNO)
		WHERE PAYNO = #{payNo}
	</select>
	
	<!-- 결제 번호에 담긴 상품이름 -->
	<select id="pname" resultType="String">
		SELECT PNAME
		FROM 
			CART C INNER JOIN 
			PAY P ON (C.CARTNO = P.CARTNO) LEFT OUTER JOIN
			PRODUCT PR ON (C.PNO = PR.PNO)
		WHERE PAYNO = #{payNo}
	</select>
	
	<update id="changestate" parameterType="int">
		UPDATE CART 
		SET STATENO = 2
		WHERE CARTNO = #{cartNo}
	</update>
</mapper>