<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="inquiry">
<resultMap type="InquiryDto" id="inquiryMap">
		<result property="inquiryNo" column="INQUIRYNO"/>
 		<result property="memNick" column="MEMNICK"/>
 		<result property="memNo" column="MEMNO"/>
 		<result property="filename" column="INQUIRYFILENAME"/>
 		<result property="inquiryContent" column="INQUIRYCONTENT"/>
 		<result property="inquiryDate" column="INQUIRYDATE"/>
 		<result property="categoryNo" column="CATEGORYNO"/>
 		<result property="categoryName" column="CATEGORYNAME"/>
 		<result property="profilepic" column="MEMFILE"/>
</resultMap>


	<select id="select" resultMap= "inquiryMap">
		SELECT MEMBER.MEMNICK, INQUIRYLIST.*, INQUIRYCATEGORY.CATEGORYNAME, MEMBER.MEMFILE
		FROM INQUIRYLIST
		JOIN MEMBER
		ON INQUIRYLIST.MEMNO = MEMBER.MEMNO
		JOIN INQUIRYCATEGORY
		ON INQUIRYLIST.CATEGORYNO = INQUIRYCATEGORY.CATEGORYNO
	</select> 
	
	<select id="selectOne" parameterType="int" resultMap= "inquiryMap">
		SELECT MEMBER.MEMNICK,INQUIRYLIST.*, INQUIRYCATEGORY.CATEGORYNAME
		FROM INQUIRYLIST
		
		JOIN MEMBER
		ON INQUIRYLIST.MEMNO = MEMBER.MEMNO
		JOIN INQUIRYCATEGORY
		ON INQUIRYLIST.CATEGORYNO = INQUIRYCATEGORY.CATEGORYNO
		WHERE INQUIRYNO = #{inquiryNo}
	</select>
	
	<insert id="insert" parameterType="InquiryDto" >
		INSERT INTO INQUIRYLIST
		VALUES(SEQINQUIRY.NEXTVAL,(SELECT MEMNO FROM MEMBER WHERE MEMNO=#{memNo}), #{filename},#{inquiryContent}, SYSDATE,#{categoryNo})
	</insert>
	 
 
 	<delete id="delete" parameterType="int">
 		DELETE FROM INQUIRYLIST
 		WHERE INQUIRYNO = #{inquiryNo}
 	</delete>
 
 </mapper>