<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="inquiry">
<resultMap type="InquiryDto" id="inquiryMap">
		<result property="inquiryNo" column="INQUIRYNO"/>
 		<result property="memNick" column="MEMNICK"/>
 		<result property="memNo" column="MEMNO"/>
 		<result property="filename" column="INQUIRYFILENAME"/>
 		<result property="inquiryContent" column="INQUIRYCONTENT"/>
 		<result property="inquiryDate" column="INQUIRYDATE"/>
 		<result property="categoryNo" column="CATEGORYNO"/>
 		<result property="categoryName" column="CATEGORYNAME"/>
 		<result property="profilepic" column="MEMFILE"/>
</resultMap>


	<select id="select" resultMap= "inquiryMap" parameterType="hashMap">
		SELECT * FROM 
		(SELECT ROWNUM AS RNUM, INQ.*
		FROM 		
		(SELECT MEMBER.MEMNICK, INQUIRYLIST.*, INQUIRYCATEGORY.CATEGORYNAME, MEMBER.MEMFILE
		FROM INQUIRYLIST 
		JOIN MEMBER
		ON INQUIRYLIST.MEMNO = MEMBER.MEMNO
		JOIN INQUIRYCATEGORY
		ON INQUIRYLIST.CATEGORYNO = INQUIRYCATEGORY.CATEGORYNO
		WHERE CATEGORYNAME LIKE  '%' ||  #{search}  || '%' OR MEMBER.MEMNICK LIKE '%' ||  #{search}  || '%'
		ORDER BY INQUIRYLIST.INQUIRYDATE DESC) INQ)
		WHERE RNUM BETWEEN 1 + (#{page}  -1) * 8 AND #{page}  * 8
	</select> 
	
	<select id="selectCnt" resultType="int" parameterType="string">
		SELECT COUNT(INQUIRYNO) COUNT FROM
		(SELECT ROWNUM AS RNUM, INQ.*
		FROM 		
		(SELECT MEMBER.MEMNICK, INQUIRYLIST.*, INQUIRYCATEGORY.CATEGORYNAME, MEMBER.MEMFILE
		FROM INQUIRYLIST 
		JOIN MEMBER
		ON INQUIRYLIST.MEMNO = MEMBER.MEMNO
		JOIN INQUIRYCATEGORY
		ON INQUIRYLIST.CATEGORYNO = INQUIRYCATEGORY.CATEGORYNO
		WHERE CATEGORYNAME LIKE  '%' ||  #{search}  || '%' OR MEMBER.MEMNICK LIKE '%' ||  #{search}  || '%'
		ORDER BY INQUIRYLIST.INQUIRYDATE DESC) INQ)
	</select>
	
	<select id="selectOne" parameterType="int" resultMap= "inquiryMap">
		SELECT MEMBER.MEMNICK,INQUIRYLIST.*, INQUIRYCATEGORY.CATEGORYNAME
		FROM INQUIRYLIST
		
		JOIN MEMBER
		ON INQUIRYLIST.MEMNO = MEMBER.MEMNO
		JOIN INQUIRYCATEGORY
		ON INQUIRYLIST.CATEGORYNO = INQUIRYCATEGORY.CATEGORYNO
		WHERE INQUIRYNO = #{inquiryNo}
	</select>
	
	<insert id="insert" parameterType="InquiryDto" >
		INSERT INTO INQUIRYLIST
		VALUES(SEQINQUIRY.NEXTVAL,(SELECT MEMNO FROM MEMBER WHERE MEMNO=#{memNo}), #{filename},#{inquiryContent}, SYSDATE,#{categoryNo})
	</insert>
 
 	<delete id="delete" parameterType="int">
 		DELETE FROM INQUIRYLIST
 		WHERE INQUIRYNO = #{inquiryNo}
 	</delete>
 	
 	<insert id="chatbotinsert" parameterType="InquiryDto" >
		INSERT INTO INQUIRYLIST
		VALUES(SEQINQUIRY.NEXTVAL, #{memNo}, null, #{inquiryContent}, SYSDATE, #{categoryNo})
	</insert>
 
 </mapper>