<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="pay">
	<select id="selectpay" resultType="payDto">
		SELECT *
		FROM PAY
	</select>
	<select id="selectonepay" resultType="payDto" parameterType="int">
		SELECT *
		FROM PAY
		WHERE PAYNO = #{payNo}
	</select>
	<insert id="insertpay" parameterType="payDto">
	
		INSERT INTO 
		PAY
		VALUES(#{payNo}, #{cartNo}, #{method}, #{addr}, #{totalPrice}, SYSDATE)
	</insert>
	
	
<!-- 	<insert id="insertpay" parameterType="java.util.list">
	
		INSERT ALL
		<foreach collection="list" item="item" separator=" " close="SELECT * FROM SYS.DUAL"> 
		INTO PAY
		VALUES( 
		#{payNo}
		, #{cartNo}
		, #{method}
		, #{addr}
		, #{totalPrice}
		, SYSDATE)
		</foreach>
	</insert> -->
	
	
	<select id="pay_currval" resultType="Integer">
		SELECT 
		PAY_SEQ.NEXTVAL
		FROM DUAL
	</select>
	
</mapper>