<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="report">
<resultMap type="ReportDto" id="reportMap">
		<result property="reportNo" column="REPORTNO"/>
 		<result property="reportWriter" column="REPORTWRITER"/>
 		<result property="memNo" column="MEMNO"/>
 		<result property="reportFileName" column="REPORTFILENAME"/>
 		<result property="reportContent" column="REPORTCONTENT"/>
 		<result property="reportDate" column="REPORTDATE"/>
 		<result property="categoryNo" column="CATEGORYNO"/>
 		<result property="categoryName" column="CATEGORYNAME"/>
 		<result property="targetNo" column="TARGETNO"/>
 		<result property="targetWriter" column="BRDWRITER"/>
 		<result property="targetTypeNo" column="TARGETTYPENO"/>
 		<result property="targetTypeName" column="TARGETNAME"/>
 		<result property="boardVideo" column="BRDVIDEO"/>
</resultMap>

<resultMap type="ReportDto" id="reportMapCom">
		<result property="reportNo" column="REPORTNO"/>
 		<result property="reportWriter" column="REPORTWRITER"/>
 		<result property="memNo" column="MEMNO"/>
 		<result property="reportFileName" column="REPORTFILENAME"/>
 		<result property="reportContent" column="REPORTCONTENT"/>
 		<result property="reportDate" column="REPORTDATE"/>
 		<result property="categoryNo" column="CATEGORYNO"/>
 		<result property="categoryName" column="CATEGORYNAME"/>
 		<result property="targetNo" column="BRDNO"/>
 		<result property="targetWriter" column="COMWRITER"/>
 		<result property="targetTypeNo" column="TARGETTYPENO"/>
 		<result property="targetTypeName" column="TARGETNAME"/>
</resultMap>

<resultMap type="ReportDto" id="reportMapMem">
		<result property="reportNo" column="REPORTNO"/>
 		<result property="reportWriter" column="REPORTWRITER"/>
 		<result property="memNo" column="MEMNO"/>
 		<result property="reportFileName" column="REPORTFILENAME"/>
 		<result property="reportContent" column="REPORTCONTENT"/>
 		<result property="reportDate" column="REPORTDATE"/>
 		<result property="categoryNo" column="CATEGORYNO"/>
 		<result property="categoryName" column="CATEGORYNAME"/>
 		<result property="targetNo" column="TARGETNO"/>
 		<result property="targetWriter" column="MEMNICK"/>
 		<result property="targetTypeNo" column="TARGETTYPENO"/>
 		<result property="targetTypeName" column="TARGETNAME"/>
</resultMap>



	<select id="select" resultType="reportDto" parameterType="hashMap">
	
	SELECT * FROM 
	(SELECT ROWNUM AS RNUM, REP.*
	FROM 		
	(SELECT REPORTLIST.*,   
	REPORTCATEGORY.CATEGORYNAME,
	MEMBER.MEMFILE
	FROM REPORTLIST
	JOIN MEMBER
	ON REPORTLIST.MEMNO = MEMBER.MEMNO
	JOIN REPORTCATEGORY
	ON REPORTLIST.CATEGORYNO = REPORTCATEGORY.CATEGORYNO
	WHERE CATEGORYNAME LIKE  '%' ||  #{search}  || '%' OR REPORTLIST.REPORTWRITER LIKE '%' ||  #{search}  || '%'
	ORDER BY REPORTLIST.REPORTDATE DESC) REP)
	WHERE RNUM BETWEEN 1 + (#{page} -1) * 8 AND #{page}  * 8

	</select> 
	
	
	
	<select id="selectCnt" resultType="int" parameterType="String">
	
	SELECT COUNT(REPORTNO) COUNT FROM
	(SELECT ROWNUM AS RNUM, REP.*
	FROM 		
	(SELECT REPORTLIST.*,   
	REPORTCATEGORY.CATEGORYNAME,
	MEMBER.MEMFILE
	FROM REPORTLIST
	JOIN MEMBER
	ON REPORTLIST.MEMNO = MEMBER.MEMNO
	JOIN REPORTCATEGORY
	ON REPORTLIST.CATEGORYNO = REPORTCATEGORY.CATEGORYNO
	WHERE CATEGORYNAME LIKE  '%' ||  #{search}  || '%' OR REPORTLIST.REPORTWRITER LIKE '%' ||  #{search}  || '%'
	ORDER BY REPORTLIST.REPORTDATE DESC) REP)

	</select> 
	
	
	<select id="selectOne" parameterType="int" resultMap= "reportMap">
	SELECT
	REPORTLIST.*,
	REPORTCATEGORY.CATEGORYNAME,
	TARGETCATEGORY.TARGETNAME,
	BOARD.BRDWRITER,
	BOARD.BRDVIDEO
	FROM REPORTLIST
	JOIN MEMBER
	ON REPORTLIST.MEMNO = MEMBER.MEMNO
	JOIN REPORTCATEGORY
	ON REPORTLIST.CATEGORYNO = REPORTCATEGORY.CATEGORYNO
	JOIN TARGETCATEGORY
	ON REPORTLIST.TARGETTYPENO = TARGETCATEGORY.TARGETNO
	JOIN BOARD
	ON REPORTLIST.TARGETNO = BOARD.BRDNO
	WHERE REPORTNO = #{reportNo}
	
	</select>
	
	<select id="selectOneCom" parameterType="int" resultMap ="reportMapCom">
	SELECT
	REPORTLIST.*,
	REPORTCATEGORY.CATEGORYNAME,
	TARGETCATEGORY.TARGETNAME,
	BCOMMENT.COMWRITER,
	BCOMMENT.BRDNO
	FROM REPORTLIST
	JOIN MEMBER
	ON REPORTLIST.MEMNO = MEMBER.MEMNO
	JOIN REPORTCATEGORY
	ON REPORTLIST.CATEGORYNO = REPORTCATEGORY.CATEGORYNO
	JOIN TARGETCATEGORY
	ON REPORTLIST.TARGETTYPENO = TARGETCATEGORY.TARGETNO
	JOIN BCOMMENT
	ON REPORTLIST.TARGETNO = BCOMMENT.COMNO 
	WHERE REPORTNO = #{reportNo}	
	</select>
	
	<select id="selectOneMem" parameterType="int" resultMap= "reportMapMem">
	SELECT
	REPORTLIST.*,
	REPORTCATEGORY.CATEGORYNAME,
	TARGETCATEGORY.TARGETNAME,
	MEMBER.MEMNICK
	FROM REPORTLIST
	JOIN MEMBER
	ON REPORTLIST.MEMNO = MEMBER.MEMNO
	JOIN REPORTCATEGORY
	ON REPORTLIST.CATEGORYNO = REPORTCATEGORY.CATEGORYNO
	JOIN TARGETCATEGORY
	ON REPORTLIST.TARGETTYPENO = TARGETCATEGORY.TARGETNO
	JOIN MEMBER
	ON REPORTLIST.TARGETNO = MEMBER.MEMNO
	WHERE REPORTNO = #{reportNo}
	
	</select>
	
	
	
	<insert id="insert" parameterType="ReportDto" >
		INSERT INTO REPORTLIST
		VALUES(SEQREPORT.NEXTVAL,(SELECT MEMNICK FROM MEMBER WHERE MEMNO=#{memNo}),(SELECT MEMNO FROM MEMBER WHERE MEMNO=#{memNo}), #{reportFileName},#{reportContent},DEFAULT,#{categoryNo},#{targetNo},#{targetTypeNo})
	</insert>
	 
	<delete id="delete" parameterType="int">
		DELETE FROM REPORTLIST
		WHERE REPORTNO = #{reportNo}
	</delete>
	
	
	<insert id="insertList" parameterType="java.util.List">
		
	INSERT ALL 
	<foreach collection="list" item="item" separator=" " close="SELECT * FROM SYS.DUAL"> 
		  INTO RECIPE VALUES
		  (
			#{item.recipeFile}
			, #{item.recipeTitle}
			, #{item.recipeWriter}
			, #{item.recipeWriterURL}
			, DEFAULT
			, #{item.recipeURL}
			)
			
	</foreach>
	</insert>
 
 
 
 </mapper>