@charset "UTF-8";

body {
	background: #e2e2e2;
}
/********card frame **************/
.card {
	position: relative;
	border-radius: 3px;
	background-color: #fff;
	color: #4f5256;
	border: 1px solid #f2f2f2;
	margin-bottom: 16px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #fff;
	margin-right: auto;
	display: block;
}

/* .card-header {
	padding: 16px;
	margin: 0px;
} */

.card-body {
	position: relative;
	padding: 16px;
}

.gaadiex-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gaadiex-list>.gaadiex-list-item {
	padding: 0 22px;
}

.gaadiex-list-item-img {
	float: left;
	width: 80px;
	height:80px;
	margin-top: 20px;
	margin-bottom: 8px;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 50%;
}

.gaadiex-list-item i {
   float: left;
    font-size:48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}

.gaadiex-list-item-text {
	margin-top: 50px;
}
.gaadiex-list-item-text a{
	color: #e07601;
}
.border-b-1 {
	border-bottom: 1px solid rgba(162, 162, 162, .16);
}