@charset "UTF-8";

	.col-first{margin: -1% 63.5% 0 -18%; } 
	.col-first > .maintext{font-weight: bold; font-size: 2.0em; color: #fff; text-align: left;}
	.text-1{margin: -5% 0 3%;}
	#banner-text-2{position: absolute; top: 60%; right: 14%;}
	
	.banner-btn{width: 115px; padding: 8px 0 10px; line-height: 18px; border: 2px solid #fff5e9; border-radius: 3px;
				font-size: 1.1em; text-align: center; color: #fff5e9; background: transparent; opacity: 0.95;  
				position:relative; overflow: hidden; transition: 0.95s; cursor: pointer;}
	.banner-btn:hover{background: #fff5e9; color: #5f5f5f;}
	.banner-btn::before{content: ""; position: absolute; left:0; width:100%; height: 0%; background: #fff5e9; z-index: -1; 
						top:0; border-radius: 0 0 50% 50%; transition: 0.95s;}
	.banner-btn:hover::before{height: 180%;}
	
	.card-container{width: 100%;}
		
	.card-profile{float: left; width: 27%; height: 400px; margin: 3.8% 5% 0 0; 
				  border-radius: 10px; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.14);}	
	.profilepage-profile{margin: 19% 21.5% 5%;}
	.user-profile{width: 170px; height: 170px; border-radius: 10em;}
	.user-id{font-size:1.6em; margin: 8% 2%; width: 100%; text-align: center;}
	.user-email{font-size:1.2em; margin: 6% -15%; width:100%; text-align: center; color: silver;}
	.my-desc{padding: 0 7%; margin-top: -1%;}
	.profile-btn{width: 120px; padding: 8px 0 10px; line-height: 20px; border: 0; border-radius: 4px; outline: none;
				font-size: 1.15em; text-align: center; color: #5f5f5f; background-color: #fff; cursor: pointer;
				margin: -2% 7%;}
	#profile-btn-1{width: 85px !important; margin-right: 1.5% !important;}
	#profile-btn-2{margin-left: 1% !important;}
	
	.card-body{float: right; width: 65.5%; height: 100%; padding: 0 !important;}
	.card-mypage-title{font-size:1.8em; margin-bottom: 17px; color: #5f5f5f;}
	.boardlistup{float: left; width: 22%}
	.boardlistup-frame{position: relative; width: 235px; height: 235px; overflow: hidden; border-radius: 5px;}
	.boardlist-img{width: 235px; height: 235px; border-radius: 5px; transform: scale(1.00);	transition: transform .2s;}
	.boardlist-img:hover{transform: scale(1.02); transition: transform .2s;}
	.boardlistup{overflow: hidden; border-radius: 5px; margin-bottom: 10px;}
	.card-boardlist-board{margin-bottom: 5%; width: 100%;}
	#board-photo{float: left;}
	.card-board-paging{width: 100%; margin: 50% 15% 5%;}

	.mapcontent{float : left; width: 54%;}
	#map{width: 600px; height: 400px; border-radius: 10px;}
	.map-info{margin-top: 10px;}
	
	.camptable{float: right; width: 48%; width: 570px; height: 450px; overflow: auto;}
	.campdata{width: 33%; float: left; text-align: center;}
	.uploadimg{
	width: 235px; height: 235px; border-radius: 5px; transform: scale(1.00);	transition: transform .2s;
	 }
	.uploadimg:hover{transform: scale(1.03); transition: transform 0.3s; border-radius: 10px;}

