@charset "UTF-8";
	
	.col-first{margin: -1% 63.5% 0 -18%; } 
	.col-first > .maintext{font-weight: bold; font-size: 2.0em; color: #fff; text-align: left;}
	.text-1{margin: -5% 0 3%;}
	.card-container{width: 100%;}

	.card-profile{float: left; width: 27%; height: 400px; margin: 3.8% 5% 0 0; 
				  border-radius: 10px; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.14);}	
	.profilepage-profile{margin: 22% 21.5%;}	
	.user-profile{width: 170px; height: 170px; border-radius: 10em;}
	.user-id{font-size:1.6em; margin: 8% 2%; width: 100%; text-align: center; font-weight: bold;}
	.profilepage-message{margin: -13% 25%; width: 80%;}
	.user-message{width: 30px; height: 30px; opacity: 0.6;}
	.user-message-text{font-size:1.2em; color: gray;}
	#member-report-target{font-size: 1.2em; color: silver;}
	
	.card-board{float: right; width: 65.5%; height: 100%;}
	.card-boardtext{font-size:1.8em; margin-bottom: 17px; color: #5f5f5f;}
	.boardlistup{float: left; width: 33.3%}
	.boardlistup-frame{position: relative; width: 235px; height: 235px; overflow: hidden; border-radius: 5px;}
	.boardlist-img{width: 235px; height: 235px; border-radius: 5px; transform: scale(1.00);	transition: transform .2s;}
	.boardlist-img:hover{transform: scale(1.02); transition: transform .2s;}
	.boardlistup{overflow: hidden; border-radius: 5px; margin-bottom: 10px;}
	
	.board-uploadimg-frame{display: relative;}
	.video-thumbnail-img{position: relative;}
	.video-icon{position: absolute; z-index: 5; top: 5px; left: 200px; cursor: pointer;}
	.video-icon > img {width: 25px; height: 100%; opacity: 0.5;}
	
	#board-photo{float: left;}
	