@charset "UTF-8";

	.content{padding: 50px 580px;} 
	
	.loginform-logo{margin: 0 36% 2%;}   
    .login-logo{width: 100px; height: 100%; margin-top: -5px;}
	
	.card-head-first{width: 100%; margin-bottom: 10%;}
	.card-head-first > h2{font-weight: bold;}
	.form-group{margin: 0 0 15px 0; padding: 0;}
	
	.col-sm-6{margin: 0; padding: 0; width: 800px; margin-right: auto; margin-left: auto; 
			  max-width:100% !important;} 	/*input 태그*/
 	.form-control{display: inline !important; width: 50% !important;} 
	.form-main-text{margin-bottom: 8px; color: #5f5f5f; font-size: 1.2em;} /*각 메인 텍스트*/
	#main-text{cursor: pointer; font-weight: bold;}
	
	.ex-text{margin-top: 3px; font-size: 1.0em;}
	.chk_error{margin-top: 3px; font-size: 1.0em; color: red; display: none;}

	#memid.form-control{max-width: 32% !important;}
	#memzip.form-control{max-width: 32% !important;}
	
	.checkbox input{display: none;}
	.checkbox span{display: inline-block; vertical-align: middle; cursor: pointer;}
	.checkbox .icon{position: relative; width: 20px; height: 20px; border: 2px solid silver; 
					background: #fff; border-radius: 3px; transition: background 0.1s ease;}
	.checkbox .icon::after{content: ''; position: absolute; top: 0.5px; left: 5px; width: 6px; height: 11px; 
						   border-right: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(45deg) scale(0); 
						   transition: all 0.1s ease; transition-delay: 0.1s; opacity: 0;}
	.checkbox .text{margin-left: 5px; color: #5f5f5f; font-size: 1.1em;}
	.checkbox input:checked ~ .icon{border-color: transparent; background: orange;}
	.checkbox input:checked ~ .icon::after{opacity: 1; transform: rotate(45deg) scale(1);}
	.checkbox-subtext{color: silver;}
	
	.btn{width: 140px; height: 40px; border-radius: 5px; outline: none; margin-top: -4px;
   		 background-color: #fff5e9; color: #5f5f5f; font-size:1.2em; cursor: pointer;}
	.btn:hover{background: #ffe6be; transition: 0.2s; outline: none;}
	#sendmail{border: 1px solid #e2e2e2;}
	#btn-addr{border: 1px solid #e2e2e2;}
	#btn-register{width: 195px; height: 45px; background-color: #ffe6be; font-weight: bold;}
	#btn-register:hover{background: #ffdb9f; transition: 0.2s;}
	#btn-cancel{width: 195px; height: 45px; margin-left: 5px; background-color: #ffe6be; font-weight: bold;}
	#btn-cancel:hover{background: #ffdb9f; transition: 0.2s;}
	
	input#memphone::placeholder{color: silver;}
		